{% extends "projects/project.html" %}

{% block title %}Chatlang{% endblock %}

{% block links %}
<a href="https://github.com/ANRGUSC/chatlang" target="_blank" class="nav-link link-icon">
    <i class="fab fa-lg fa-github"></i>
</a>
<a href="https://anrg.usc.edu/www/papers/chatlang.pdf" target="_blank" class="nav-link link-icon">
    <i class="fa-solid fa-lg fa-file-pdf"></i>
</a>
{% endblock %}

{% block description %}
<p>
    <em>Chatlang</em> (<a href="https://chatlang.net">chatlang.net</a>) is an LLM-powered role-playing bot with parallel tutor assistance.
</p>
{% endblock %}