{% extends "projects/project.html" %}

{% block title %}Kubishi{% endblock %}

{% block links %}
<a href="https://github.com/kubishi/kubishi" target="_blank" class="nav-link link-icon">
    <i class="fab fa-lg fa-github"></i>
</a>
<a href="https://instagram.com/ovkubishi" target="_blank" class="nav-link link-icon">
    <i class="fab fa-lg fa-instagram"></i>
</a>
<a href="https://facebook.com/kubishi" target="_blank" class="nav-link link-icon">
    <i class="fab fa-lg fa-facebook-f"></i>
</a>
<a href="https://twitter.com/ovkubishi" target="_blank" class="nav-link link-icon">
    <i class="fab fa-lg fa-twitter"></i>
</a>
{% endblock %}

{% block description %}
<p>
    <em>Kubishi</em> (<a href="https://kubishi.com">kubishi.com</a>) is an online dictionary and encyclopedia for Owens Valley Paiute language and culture. The Owens Valley Paiute language is <a href='http://www.endangeredlanguages.com/lang/4692'>critically endangered</a>. <em>Kubishi</em> is one resource in the <a href='http://www.ovcdc.com/blog/language/'>fight</a> (led by Tribes of the Owens Valley) to reverse the damage inflicted by generations of forced assimilation and colonialism. The goal of this project is to help promote and preserve Owens Valley Paiute language and culture, but also to provide an open-source toolset for other tribal nations to do the same.
</p>
{% endblock %}