<!--about.html-->
{% extends "layout.html" %}

{% block content %}
<!-- bootstrap container -->
<div class="container">
    <div class="row mt-2">
        <div class="col text-center">
            <h1>About Me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Research</h2>
            <p>
                I have a broad interest in computer science and mathematics. 
                In particular, my research interests include distributed computing, IoT, cooperative algorithms for mobile robotics, and distributed ledger technology (blockchain). 
                I am currently a student at USC, advised by Dr. Bhaskar Krishnamachari and working in the Autonomous Networks Research Group on variety of distributed computing, mobile robotics, blockchain, and IoT problems.
            </p>
            <p>
                During my time at CSULB, I started working (and to continue to work) with my MS advisor Dr. Oscar Morales Ponce on a variety of distributed computing and discrete mathematics problems with applications in mobile robotics (see my publications).
            </p>
            <p>
                I am also a Member of the Technical Staff at The Aerospace Corporation, where I have the privilege to develop tools for flight software verification and day-of-launch launch vehicle analysis!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>More About Me</h2>
            <p>
                I am a proud member of the Big Pine Paiute Tribe of the Owens Valley. 
                Besides computer science, I enjoy board games, hiking, history, and language. 
                I am husband to Tainã Coleman, an amazing computer scientist, wife, and friend. 
                I met Tainã in 2013 during my first semester as an undergraduate at CSULB while she was visiting as an international exchange student from Brazil. 
                After her one-year program was up, I followed her back to her university, Universidade Federal de Itajubá and studied there for three semesters. 
                In 2016, we returned to the United States and got married! Tainã and I are both now Ph.D. students at USC.
            </p>
        </div>
    </div>
</div>
{% endblock %}
