{% extends "base.html" %}

{% block title %}Jared Coleman{% endblock %}

{% block navbar_links %}
    <li class="nav-item">
        <a class="nav-link" href="#research">Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
    </li>
{% endblock %}

{% block content %}
<div class="alert alert-info" role="alert">
    <h4 class="alert-heading text-center">
        For publications, projects, and other research news, visit my research group website at 
        <a href="https://research.kubishi.com" target="_blank" title="Open in new tab">research.kubishi.com</a>
    </h4>
</div>

<div class="row">
    <div class="col-lg-4 text-center d-flex align-items-center justify-content-center">
        <img src="{{ url_for('static', filename='img/profile_square.jpg') }}" 
             alt="Profile Picture" 
             class="img-fluid profile-img" 
             style="width: 100%; max-width: 400px; border-radius: 5%;">
    </div>
    <div class="col-lg-8 mt-2">
        <h1>Jared Coleman</h1>
        <p>
            Assistant Professor of Computer Science @ Loyola Marymount University<br />
            Kubishi Research Group 
            <a href="https://research.kubishi.com" target="_blank" title="Open in new tab">
                <i class="fas fa-external-link-alt fa-sm"></i>
            </a>
        </p>
        <hr />
        <p>
            Ph.D. in Computer Science @ University of Southern California<br />
            Autonomous Networks Research Group 
            <a href="https://anrg.usc.edu" target="_blank" title="Open in new tab">
                <i class="fas fa-external-link-alt fa-sm"></i>
            </a><br />
            B.S. & M.S. in Computer Science @ California State University Long Beach<br />
            Formerly MTS @ Aerospace Corporation
        </p>

        <h4 id="research">Research Interests</h4>
        <p>
            Cooperative multi-agent systems, distributed computing, decentralized computing, 
            online algorithms, distributed ledger technology, internet of things (IoT), 
            artificial intelligence (AI), large language models (LLMs), and language revitalization.
        </p>

        <h4 id="about">About Me</h4>
        <p>
            I am a proud member of the Big Pine Paiute Tribe of the Owens Valley.
            Besides computer science, I enjoy board games, hiking, and language.
            I'm especially interested in my tribe's native language, Owens Valley Paiute, 
            which is critically endangered and which I am one of many in my community working 
            to learn and revitalize.
        </p>
    </div>
</div>
{% endblock %}
